.feed .item {
    background: none;
    width: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.feed .item:hover {
    background: #dadada;
    width: 240px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: zoom-in;
}

.image.thumbnail {
    display: block;
    margin: 10px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    border-radius: 5px;
    /* height:150px; */
}