h1,h2,h3,h4,h5,h6{padding:0px;margin:0px;font-size:normal;font-weight: normal}
ul,ol{list-style: none;padding: 0px;margin:0px;}
.fixed{position: fixed;}
.rel{position: relative;}
.abs{position:absolute;}
.bl{display: block;}
.ibl li, .ibl{display: inline-block;}
.noul{text-decoration: none;}
.anim{transition: all 0.2s linear 0s;}

.s15{font-size:15px;}
<<<<<<< HEAD
.s12{font-size:12px;}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

=======
.s12{font-size:12px;}
>>>>>>> 337a362cbd744fe3fb7cf0e15e0bdcf238366f26
